<%= render 'search_form' %>
<br />
<div class='available-flights-form'>
  <%= form_with method: :get do %>
    <%= hidden_field_tag :num_passengers, params[:num_passengers] %>
    <% @available_flights.each do |flight| %>
      <div class='flight' style='padding-bottom: 10px'>
        <%= flight.from_airport.name %> - 
        <%= flight.to_airport.name %><br>
        <%= flight.departure_time %> - 
        <%= flight.arrival_time %><br>
        <%= label_tag :selected_flight, "Select flight" %>
        <%= radio_button_tag :selected_flight, flight.id %><br />
      </div>
    <% end %>
    <% if @available_flights.any? %>
      <%= submit_tag "Book this flight!"%>
    <% end %>  
  <% end %>  
</div>