<div class='flight-info'>
  <div>
    <li>Flight: <%= @flight.id %></li>
    <li>Date: <%= @flight.flight_date %></li>
    <li>Departing From: <%= @flight.from_airport.name %></li>
    <li>Arriving At: <%= @flight.to_airport.name %></li>
    <li>Departing Time: <%= @flight.departure_time %></li>
    <li>Arriving Time: <%= @flight.arrival_time %></li>
    <li># of Passengers: <%= params[:num_passengers] %></li><br />
  </div>
</div>  
<div class='booking-form'>
  <%= form_for @booking, local: true do |f| %>
    <%= f.hidden_field :flight_id, value: params[:selected_flight] %>

    <%= f.fields_for :passengers do |p| %>
      <div>
        <%= p.label :name, 'Name' %>
        <%= p.text_field :name %>
        <%= p.label :email, 'Email' %>
        <%= p.text_field :email %>
      </div>
    <% end %>
    <%= f.submit "Submit" %>  
  <% end %>
</div>